# Copy this to terraform.tfvars and adjust values
aws_region         = "us-east-1"
project_name       = "kafka-lab"
environment        = "dev"
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]

# MSK - t3.small is cheapest for learning (~$0.07/hr per broker)
kafka_version       = "3.5.1"
msk_broker_instance = "kafka.t3.small"
msk_broker_count    = 3

# EKS
k8s_version       = "1.29"
eks_node_instance = "t3.medium"
eks_min_nodes     = 2
eks_max_nodes     = 4
